<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Absenteeism Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style1.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo"><a href="#"><img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="LOGO"></a></div>
        <div class="system"><a href="#">Employee Absenteeism <br> Predictor</a></div>
        <ul class="menu">
            <li><a href="#"><i class="fa fa-fw fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-fw fa-shopping-cart"></i>Purchase</a></li>
            <li><a href="/EAPSPage"><i class="fa fa-fw fa-search"></i>Services</a></li>
            <li><a href="#"><i class="fa fa-fw fa-envelope"></i>Contact Us</a></li>
        </ul>
        <div class="buttons">
            <input type="button" value="Login">
            <input type="button" value="Register">
        </div>
    </nav>
    <div class="text-content">
        <p><b>"Empowering insights through predictive analytics:<br> Forecasting employee absenteeism <br> for smarter workforce management."</b></p>
    </div>
</header>
</body>
</html>
